@page "/demo"
@rendermode InteractiveServer

<PageTitle>Demo</PageTitle>

<h1>Demo Page</h1>

<p>
    Use this Page 
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" href="https://www.w3schools.com/html/html_basic.asp">HTML Basic</a>
            &nbsp;
            <a class="btn btn-primary" href="https://www.w3schools.com/tags/tag_article.asp">HTML Tag &lt;article&gt;</a>
            &nbsp;
            <a class="btn btn-primary" href="https://www.w3schools.com/tags/tag_aside.asp">HTML Tag &lt;aside&gt;</a>
            &nbsp;
            <a class="btn btn-info" href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Learn Blazor</a>
            
        </div>
    </div>
</p>

    <p>Demonstrate the use of the BlazorApp1.Components namespace.</p>
<hr>
<h2>Learning Video</h2>
    <iframe width="495" height="288" src="https://www.youtube.com/embed/JcOAtSU-jJ0" title="Blazor Web App Project Structure [Pt 5] | Front-end Web Development with .NET for Beginners" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p>
    An example from YuoTube.
</p>